<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
        <img alt="Brand" height="22" src="https://www.google.com/logos/doodles/2016/lotte-reinigers-117th-birthday-5079873255112704.2-res.png">
      </a>
    </div>
      <%= render partial: 'elements/session_panel' %>
  </div>
</nav>
