<div class="grid-item">
  <div class="thumbnail">
    <%= image_tag card.image_url, width: '230' %>
    <div class="caption"> 
      <p> <%= card.title %> </p>
    </div>
    <%= link_to "Enter", card.link_url %>
  </div>
</div>
